data/
logs/
runs_history/
saves/
saves_to_share/
UncheckedRuns/
saves_history/
hyperparam_tuning/autotune_history/
hyperparam_tuning/autoTuneDir/
hyperparam_tuning/runs/
hyperparam_tuning_old/
experimental_features/
runs/
runs*/
saved*/
saves*/
notebook.ipynb
*.pth
*.pikl
hyperparam_tuning/optuna_log.txt
